
<div class="container-fluid p-4">
    <div class="row">
        <div class="col">
            <h3 class="title">Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Dashboard Widget - 1</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="pt-4">
                        Dashboard Widget - 1
                        </div>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Dashboard Widget - 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="pt-4">
                       Dashboard Widget - 2
                    </div>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Dashboard Widget - 3</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="pt-4">
                       Dashboard Widget - 3
                    </div>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Date & Time Widget</mat-card-title>
                  <mat-card-subtitle>To change the date & time format</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="pt-4">
                        <h4 class="mb-1">Date & Time</h4>
                        <p><strong>{{ dateTimeValue | date:'dd MMMM, YYYY (hh:mm aa)' }}</strong></p>
                    </div>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>
